/* Custom cursor for the game */
* {
  cursor: url('/assets/ui/pointer.png'), auto;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.title {
  color: #eef15c;
  font-size: 1.2rem;
  text-shadow: black 0.12rem 0.12rem 0, black -0.12rem -0.12rem 0, black 0.12rem -0.12rem 0, black -0.12rem 0.12rem 0;
  text-align: center;
  margin-bottom: 1rem;
}

